
.cart__container{
    
    background-image: linear-gradient(to right, #000000 60%,#32b8ec );
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 730px;

}

.cart__container-h2{
    margin: 20px;
    padding: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    
}

.spiner {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    border-radius: 10px; 
}

.spiner__load{
    padding-top: 30px;
    height: 800px;
    background-image: linear-gradient(to right, #000000 60%,#32b8ec );
}

.cart__item{
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    font-size: 24px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 24px;
    padding: 15px;
    text-align: center;
    margin: 30px;
    
}


.cart__item-image{
    align-self: start;
    max-width: 180px; 
    max-height: 180px;
    box-shadow: 0px 0px 15px #000; 
    display: flex;  
    border-radius: 12px;
   
}

.cart__item:first-child{
    margin: 10px 30px 30px 30px;
}

.data{
    text-align: center;
}

.cart__item-data{
    padding-left: 20px;
}

.cart_item-option{
    position: relative;
    top: 60px;
    right: 20px;
    
    color: #c21c1c;
    font-size: 64px;
}

.cart_item-option:hover{
    cursor: pointer;
} 


.empty__cart{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empty__cart-title{
    padding: 50px;
    color: #888;
}

.empty__cart-button{
    margin: 20px;
    
}





.finish-buy{
    
    
    background-image: linear-gradient(to left, #5f91db,#356dc2,#1a51a5);
    padding: 20px 30px 20px 30px;
    font-size: 24px;
    border-radius: 24px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    
    border: none;
}

.finish-buy:hover{
    box-shadow: 0px 0px 20px #32b8ec;
}

@media screen and  (max-width: 750px){
    .cart__item-image{
        align-self: center;
        margin-bottom: 10px;
    }
    .cart__item{
        flex-direction: column;
    }
    .cart_item-option{
        display: inline;
        top: 0px;
        right: 0px;
    }


}