
.cart__container{
    
    background-image: linear-gradient(to right, #000000 60%,#32b8ec );
    height: 1100px;

}

.cart__container-h2{
    color: #fff;
    font-weight: bold;
}

.spiner {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    border-radius: 10px; 
}

.spiner__load{
    padding-top: 30px;
    height: 800px;
    background-image: linear-gradient(to right, #000000 60%,#32b8ec );
}

.cart__item{
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    font-size: 24px;
    color: #fff;
    margin: 20px;
    border-radius: 24px;
    padding: 15px;
}