
.main__container{
    background-color: #000000;
    background-image: linear-gradient(to right, #000000 60%,#32b8ec );
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 800px;
}

.main__container img {
    margin: auto;
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
    border-radius: 5px; 
}



.main__container-div-element{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    color: #e7eef1;
    font-size: 18px;
    max-width: 250px;
    min-width: 250px;
    border-radius: 10px;
    
    margin: 0px 10px 20px 10px;
    
    padding: 40px 10px 40px 10px;
}

.main__container-divs{
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
}

.main__container-div-button{
    list-style: none;
    text-decoration: none;
    border-style: none;
    background-image: linear-gradient(to right, #5f91db,#356dc2,#1a51a5);
    margin: 10px;
    padding: 10px;
    color: #e7eef1;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}

.main__container-div-button:hover{
    cursor: pointer;
    color: #fff;
    background-image: linear-gradient(to right, #9fbeec,#76a3e7,#81acee)
}


.main__container-title{
    padding-bottom: 7px;
}

.main__container-price{
    font-size: 20px;
}