
.background__footer{
    background-color: #000000;
    background-image: linear-gradient(to right, #000000 60%,#32b8ec );
    
}

.Footer__main-container{
    background: linear-gradient(135deg, rgba(48, 43, 43, 0.6), rgba(255, 255, 255, 0));
    padding: 10px;
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: space-around;
}

.Footer__main-container-link{
    color: #888;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    align-self: center;
}

.Footer_main-container-p{
    
    color: #888;
    
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    align-self: center;
}

.Footer__logo{
    height: 80px;
    width: 60px;
}

.Footer_main-container-p:hover{
    color: #32b8ec;
    
    text-shadow: 0 0 15px #32b8ec;
   
}

.Footer__main-container-link:hover{
    color: #32b8ec;
    
    text-shadow: 0 0 15px #32b8ec;
}


@media screen and  (max-width: 660px){
    .Footer_main-container-p{
        display: none;
    }
    .Footer__logo{
        height: 60px;
        width: 40px;
    }



}